{% extends 'base.html' %}
<title>Account Page</title>
{% block content %}
    <div style="width: 100%; height: 100%">
    <div style="display: flex">
        <div style="height: 250px; flex-grow: 3; background-color: #ffffff; border: solid black 1px; margin: 10px">
            <canvas id="myChart" height="250" width="600"></canvas>
        </div>
        <table class="transaction_table" style="height: 250px; flex-grow: 3;">
            <thead class="base_table_head">
                <tr class="table-row-header">
                    <th>
                        Trade Type
                    </th>
                    <th>
                        Trade Date
                    </th>
                    <th>
                        Ticker
                    </th>
                    <th>
                        Amount
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Total Cost
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td>
                            {% if transaction.instruction %}
                                {{ transaction.instruction }}
                            {% else %}
                                {{ transaction.type }}
                            {% endif %}
                        </td>
                        <td>
                            {{ transaction.transaction_date }}
                        </td>
                        <td>
                            {{ transaction.symbol }}
                        </td>
                        <td>
                            {{ transaction.amount }}
                        </td>
                        <td>
                            {{ transaction.price }}
                        </td>
                        <td>
                            {{ transaction.cost }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

            <table class="base_table">
                <thead class="base_table_head">
                    <tr class="table-row-header">
                        <th>
                            Ticker
                        </th>
                        <th>
                            Avg. Price
                        </th>
                        <th>
                            Market Value
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for position in positions %}
                        <tr>
                            <td>
                                {{ position.instrument.symbol }}
                            </td>
                            <td>
                                {{ position.averagePrice }}
                            </td>
                            <td>
                                {{ position.marketValue }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>

{% endblock %}

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
    $( document ).ready(function() {
        console.log('DOCUMENT IS READY');
        var x = new Chart(document.getElementById("myChart"), {
          type: 'line',
          data: {
            labels: {{ labels|safe }},
            datasets: [
                {
                  label: 'Account Value',
                  data: {{ balances|safe }},
                }
            ]
          },
            options: {
              responsive: false,
            }
        });
    });
    </script>

{% endblock %}

