{% extends 'base.html' %}
<title>Account Page</title>
{% block content %}
    <div style="width: 100%; height: 100%">

    <div style="display: flex; width: 100%">

    <div class="account-graph-box">
        <ul class="mui-tabs__bar">
          <li class="mui--is-active"><a data-mui-toggle="tab" data-mui-controls="pane-default-1">1w</a></li>
          <li><a data-mui-toggle="tab" data-mui-controls="pane-default-2">1mo</a></li>
          <li><a data-mui-toggle="tab" data-mui-controls="pane-default-3">1yr</a></li>
          <li><a data-mui-toggle="tab" data-mui-controls="pane-default-4">All Time</a></li>
        </ul>
        <div class="mui-tabs__pane mui--is-active" id="pane-default-1">
            <div class="gain-box">
                {{ week_gain }}
            </div>
            <canvas id="myChart_1w" height="250" width="600"></canvas>
        </div>
        <div class="mui-tabs__pane" id="pane-default-2">
            <div class="gain-box">
                {{ month_gain }}
            </div>
            <canvas id="myChart_1mo" height="250" width="600"></canvas>
        </div>
        <div class="mui-tabs__pane" id="pane-default-3">
            <div class="gain-box">
                {{ year_gain }}
            </div>
            <canvas id="myChart_1yr" height="250" width="600"></canvas>
        </div>
        <div class="mui-tabs__pane" id="pane-default-4">
            <div class="gain-box">
                {{ alltime_gain }}
            </div>
            <canvas id="myChart_alltime" height="250" width="600"></canvas>
        </div>
    </div>

        <table class="transaction_table" style="height: 350px; flex-grow: 2;">
            <thead class="base_table_head">
                <tr class="table-row-header">
                    <th>
                        Trade Type
                    </th>
                    <th>
                        Trade Date
                    </th>
                    <th>
                        Ticker
                    </th>
                    <th>
                        Amount
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Total Cost
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td>
                            {% if transaction.instruction %}
                                {{ transaction.instruction }}
                            {% else %}
                                {{ transaction.type }}
                            {% endif %}
                        </td>
                        <td>
                            {{ transaction.transaction_date }}
                        </td>
                        <td>
                            {{ transaction.symbol }}
                        </td>
                        <td>
                            {{ transaction.amount }}
                        </td>
                        <td>
                            {{ transaction.price }}
                        </td>
                        <td>
                            {{ transaction.cost }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div style="display: flex; width: 98%">
            <table class="base_table">
                <thead class="base_table_head">
                    <tr class="table-row-header">
                        <th>
                            Ticker
                        </th>
                        <th>
                            Avg. Price
                        </th>
                        <th>
                            Amount
                        </th>
                        <th>
                            Market Value
                        </th>
                        <th>
                            Today's Gain / Loss (%)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for position in positions %}
                        <tr>
                            <td>
                                {{ position.instrument.symbol }}
                            </td>
                            <td>
                                {{ position.averagePrice }}
                            </td>
                            <td>
                                {{ position.longQuantity }}
                            </td>
                            <td>
                                {{ position.marketValue }}
                            </td>
                            <td>
                                {{ position.currentDayProfitLossPercentage }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
        </table>
    </div>
    </div>

{% endblock %}

{% block javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
    $( document ).ready(function() {
        var one_wk = new Chart(document.getElementById("myChart_1w"), {
          type: 'line',
          data: {
            labels: {{ one_week_labels|safe }},
            datasets: [
                {
                  label: 'Account Value',
                  data: {{ one_week_balances|safe }},
                }
            ]
          },
            options: {
              responsive: false,
            }
        });

        var one_mo = new Chart(document.getElementById("myChart_1mo"), {
          type: 'line',
          data: {
            labels: {{ one_month_labels|safe }},
            datasets: [
                {
                  label: 'Account Value',
                  data: {{ one_month_balances|safe }},
                }
            ]
          },
            options: {
              responsive: false,
            }
        });

        var one_yr = new Chart(document.getElementById("myChart_1yr"), {
          type: 'line',
          data: {
            labels: {{ one_year_labels|safe }},
            datasets: [
                {
                  label: 'Account Value',
                  data: {{ one_year_balances|safe }},
                }
            ]
          },
            options: {
              responsive: false,
            }
        });

        var all_time_chart = new Chart(document.getElementById("myChart_alltime"), {
          type: 'line',
          data: {
            labels: {{ labels|safe }},
            datasets: [
                {
                  label: 'Account Value',
                  data: {{ balances|safe }},
                }
            ]
          },
            options: {
              responsive: false,
            }
        });
    });
    </script>
{% endblock %}

