{% block title %}Etrade Login{% endblock %}

{% block content %}
    <div id="content-container" class="container p-none">
        <div class="lgn-container col-lg-8">
            <form method="get">
                {% csrf_token %}
                <input id="text_code" name="text_code" type="text" value="Input Etrade code"/>
                <button type="button" onclick="loadDoc()">Submit</button>
            </form>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>
  function loadDoc() {
      var text_code = document.getElementById("text_code").value;
      var platform = 'etrade';
      $.ajax({
          url: '/callback/' + platform,
          data: {
              'text_code': text_code
          },
          dataType: 'json',
          success: function (xhr) {
              alert("AJAX was triggered successfully");
          }
      });
  }
  </script>
{% endblock %}

