{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
 <head>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
     <base href="/">
     <link rel="stylesheet" type="text/css" href="/static/css/components.css">
 <meta charset="UTF-8">
 </head>
 <body>
 {% csrf_token %}
 <div id="react"></div>
 {% render_bundle 'main' %}
 </body>
</html>
